PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=changeme
PAPERLESS_OCR_LANGUAGE=eng+rus
PAPERLESS_TIME_ZONE=Europe/London
# Tika/Gotenberg (requires separate HA add-ons for Tika and Gotenberg)
TIKA_GOTENBERG_ENABLED=false
TIKA_ENDPOINT=http://localhost:9998
GOTENBERG_ENDPOINT=http://localhost:3000
# Advanced: any PAPERLESS_* var works. See:
# https://docs.paperless-ngx.com/configuration/
